body {
  margin-top: 80px;
  background: linear-gradient(135deg, #FFDDE1, #FF99AC);
  font-family: 'Playfair Display', serif;
}

.card-title {
  color: #E72463;
  font-family: 'Playfair Display', serif;
}

.badge {
  font-size: 0.9rem;
  padding: 0.5em 0.8em;
  border-radius: 12px;
}
